<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Browser" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="BaseUrl" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="AdminUserName" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="AdminUserPass" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="StandardUserName" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="StandardUserPass" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="DualUserName" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="DualUserPass" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="NonAuthorisedUserName" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="NonAuthorisedUserPass" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
		<add key="MatchingServiceConnectionString" xdt:Transform="SetAttributes" value="XXX" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>