<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<appSettings>
		<add key="Browser" value="chrome" />
		<add key="BaseUrl" value="https://test.industryplacementmatching.education.gov.uk/" />
		<add key="DevBaseUrl" value="https://tl-at-mtchui-as.azurewebsites.net/" />
		<add key="AdminUserName" value="Tmatching2" />
		<add key="AdminUserPass" value="Windmill1" />
		<add key="StandardUserName" value="Tmatching1" />
		<add key="StandardUserPass" value="Windmill1" />
		<add key="DualUserName" value="Tmatching3" />
		<add key="DualUserPass" value="Windmill1" />
		<add key="NonAuthorisedUserName" value="fcso" />
		<add key="NonAuthorisedUserPass" value="Windmill2" />
		<add key="MathcingServiceConnectionString" value="Server=tcp:tl-test-shared-sql.database.windows.net,1433;Initial Catalog=tl-test-mtch-db;Persist Security Info=False;User ID=mtch-rw-svc;Password=CH6Ztuv9tnAZkxJrC8kxGa2Zq;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;" />
	</appSettings>




	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
	</specFlow>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>