<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Browser" xdt:Transform="SetAttributes" value="chrome" xdt:Locator="Match(key)"/>
		<add key="BaseUrl" xdt:Transform="SetAttributes" value="https://test.industryplacementmatching.education.gov.uk" xdt:Locator="Match(key)"/>
		<add key="AdminUserName" xdt:Transform="SetAttributes" value="Tmatching3" xdt:Locator="Match(key)"/>
		<add key="AdminUserPass" xdt:Transform="SetAttributes" value="Password3" xdt:Locator="Match(key)"/>
		<add key="StandardUserName" xdt:Transform="SetAttributes" value="Tmatching1" xdt:Locator="Match(key)"/>
		<add key="StandardUserPass" xdt:Transform="SetAttributes" value="Password3" xdt:Locator="Match(key)"/>
		<add key="DualUserName" xdt:Transform="SetAttributes" value="Tmatching2" xdt:Locator="Match(key)"/>
		<add key="DualUserPass" xdt:Transform="SetAttributes" value="Password3" xdt:Locator="Match(key)"/>
		<add key="NonAuthorisedUserName" xdt:Transform="SetAttributes" value="fsco" xdt:Locator="Match(key)"/>
		<add key="NonAuthorisedUserPass" xdt:Transform="SetAttributes" value="Windmill2" xdt:Locator="Match(key)"/>
		<add key="MatchingServiceConnectionString" xdt:Transform="SetAttributes" value="Server=tcp:s126t01-matching-shared-sql.database.windows.net,1433;Initial Catalog=s126t01-matching-tst-sqldb;Persist Security Info=False;User ID=testuser;Password=jBTIwjvBopx06BhsR8YC;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>